<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/' >


    <!--控制台添加器  将日志输出到控制台-->
    <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="[%d{dd HH:mm:ss,SSS\} %-5p] [%t] %c{1\} - %m%n" />
            <!--       %-5p错误信息的显示个数  [%t]代表线程     %m%n(重要的信息)  -->
        </layout>
    </appender>

    <!--配置日志到文件-->
    <!--设置日志输出文件-->
    <!--       %-5p错误信息的显示个数  [%t]代表线程     %m%n(重要的信息)      -->
    <appender name="fileAppender" class="org.apache.log4j.FileAppender">
        <param name="File" value="E:/Logger/messageSystem"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="[%d{ yyy MMM dd HH:mm:ss SSS} %-5p] [%t] %c{1\} - %m%n" />
        </layout>
    </appender>



    <!--根Logger的设置-->
    <root>
        <!--  fatal致命   error错误   warn警告  info息  debug错误  trace   跟踪
          在级别上面做出过滤
          Log4j是在加载的时候就开始工作了-->
        <priority value ="info"/><!--就是设置日志的级别-->
        <appender-ref ref="consoleAppender"/><!--引用上面的-->
        <appender-ref ref="fileAppender"/><!--引用上面的-->
    </root>
</log4j:configuration>