ul li{
    list-style-type:none;
}
/*创建名片*/
#site{
    border: 1px solid #D8D8D8;
    width:125px;
    height:30px;
    border-radius:4px;
    margin-bottom:10px;
}
#CitySelection{
    color:#D8D8D8;
    position:relative;
    left:5px;
    top:5px;
}

#CitySelectionImg{
    width:30px;
    height:29px;
    float: right;

}
#CitySelectionImg img{
    position:relative;
    left:8px;
    top:3px;
}
/*创建名片——城市地区选择块*/
#city_chunk{
    position:absolute;
    top:10%;
    right:22%;
    height:630px;
    width:970px;
    -webkit-box-shadow:0 0 10px 10px #999999;
    -moz-box-shadow:0 0 10px 10px #999999;
    box-shadow:0 0 10px 500px #999999;
}
#title_one{
    background-color:#EEEEEF;
    height:30px;
    width:98.5%;
    padding:10px 0px 0px 14px;

}
#exit{
    cursor:pointer;
    margin:0px 10px 0px 10px;
    float: right;
}
/*显示选择地址*/
#show_site{
    height:40px;
    width:98.5%;
    padding:15px 0px 0px 14px;
    background-color:#FAFAFA;
}

#show_city_one{
    background-color:#FAFAFA;
}
#show_city_one ul{
    margin-top:0px;
    margin-bottom: 0px;
}
#show_city{
    margin-left:40px;
    height: 25px;
    width:60px;
    padding:5px 0 0 10px;
    border-top:2px  solid #EEEEEF ;
    border-left:2px solid #EEEEEF;
    border-right:2px solid #EEEEEF;
    border-bottom:0px;
}

.wire_one{

    border:1px solid #EEEEEF;
    width:40px;
    position:relative;
    top:30px;
    margin: 0px;
    float:left;
}
.wire_two{
    border:1px solid #EEEEEF;
    width:858px;
    margin: 0px;
    float:right;
}
#region p{
    font-size:14px;
    margin:20px 0px 0px 40px;
}
/*热门城市*/
#region_two ul{
    padding-left:70px;
    margin-top:10px;
}
#region_two ul li{
    margin-bottom:0px;
    margin-right:0px;
    padding:10px 106px 10px 10px;
}
#region ul li a,#g ul li a{
    text-decoration:none;
}
.city_one,.city_two{
    font-weight: 800;
}
.city_one{
    float:left;
    margin-right:118px;
    margin-bottom:20px;
}
.city_two{
    float:left;
    margin-right:118px;
    margin-bottom:15px;
}

/*全部省份*/
#a,#b,#c,#d,#e,#f{
    float:right;
    width:148px ;
}
#a{
    padding-left:0px;
}
#f{
    padding-right:10px;
}
.all_city ul{
    padding-left:0px;
    margin-bottom:0px;
}
.city_three,.city_four,.city_five,.city_six,.city_seven,.city_eight{
    padding-left:10px;
    padding-top:10px;
    padding-bottom:10px;
}
#g ul li{
    float:left;
    width:140px ;
}
#g ul{
    padding-left:70px;
}
.nine{
    padding:10px 0px 10px 10px;
}
/*#nine{
    padding-right:10px;
}*/
/*确定与退出*/
#confirm_cancel{
    margin-top:270px;
    background-color: #F0F0F1;
    width:57.5%;
    height:55px;
    padding:25px 0px 0px 412px;
}
#confirm{
    color: white;
    border:1px solid #53A9D5 ;
    background-color:#53A9D5;
    width:60px;
    height: 30px;
    border-radius:6px;
}
#cancel{
    width:60px;
    height: 30px;
    border-radius:6px;
    background-color:#FCFDFF;
    border:1px solid #53A9D5 ;
    color:#53A9D5;
    margin-left:15px ;
}
/*隐藏div选择城市*/
#city_chunk{
    display:none;
}





















