#site{
    border: 1px solid #D8D8D8;
    width:125px;
    height:30px;
    border-radius:4px;
    margin-bottom:10px;
}
#CitySelection{
    color:#D8D8D8;
    position:relative;
    left:5px;
    top:5px;
}

#CitySelectionImg{
    border: 1px solid white;
    width:30px;
    height:29px;
    float: right;

}
#CitySelectionImg img{
    position:relative;
    left:8px;
    top:3px;
}