body{
    margin:0px;
    width:100%;
    height:100%;
}
#menu_bar{
    border:1px solid #9769D8;
    background-color:#9769D8 ;
    width:17%;
    height:1000px;
}
#title_message{
    text-align:center
}
#title_message span{
    font-size: 15px;
    color:white;
}




























































