body{
    background-color:#6B61B7;
    margin:0px;
    width:100%;
    height:100%;
}
li{
    list-style-type:none;
}
#menu_bar{
    border:1px solid #9769D8;
    background-color:#9769D8 ;
    position:absolute;
    width:300px;
    height:900px;
}
#title_message{
    border-top:0;
    border-left:0;
    border-right:0px;
    border-bottom:1px solid #5A5A5A;
    width:242px;
    height: 45px;
    padding:20px 0px 0px 60px;
    background-color:#9769D8 ;
}
#title_message span{
    font-size: 20px;
    color:white;
}
#menus li{
    cursor:pointer;
    color:#D0D0D0;
    margin-top: 20px;
    padding: 15px 0px 0px 55px;
    border-radius:30px;
    width:130px;
    height:35px;
}

.menu_div{
    height:67px;
    width:1680px;
}
.title_personal_data{
    padding-top:15px ;
    text-align: center;
    border-radius:5px;
    background-color: #6971CA;
    width:100%;
    height: 35px;
}
.title_personal_data span{
    font-size:20px;
    color:#D0D0D0;
}
.message_show_district{
    display:none;
    border-radius:15px;
    background-color: #9769D8;
    margin: 0px 0 0 420px;
    width:1000px;
    height: 770px;

}
form{
    padding-left:55px;
}
form input,select{
    margin: 60px 40px 20px 20px;
    width:140px;
    height: 20px;
    cursor:pointer;
    border: 1px solid #C1CBCA;
    background-color: #9769D8;
}
.button_submit{
    color:white;
    margin: 70px 0 0 380px;
    background-color: #3E19FD;
    border-radius:30px;
    border:1px solid darkslategrey;
    width:90px;
    height:40px;
}
/*员工个人信息*/
#personage_message input{
    ime-mode:disabled;
    margin: 50px 40px 20px 0px;
    width:140px;
    height: 20px;
    cursor:pointer;
    border-bottom: 1px solid #C1CBCA;
    border-top:none;
    border-left:none;
    border-right: none;
    background-color: #9769D8;
}
#personage_message{
    padding-left: 140px;
}
/*查询*/
#inp{
    border:1px solid #CCB3D5;
    background-color: #BFC9D0;
    margin: 30px 0 0 370px ;
    width: 150px;
    height: 27px;
    cursor:pointer;
}
#but{
    color: #A2BED0;
    background-color: #3198E3;
    border-left:0;
    width: 70px;
    height: 32px;
}
#img{
    color: #BFC9D0;
    float: right;
    border: 3px dashed #BFC9D0;
    width: 120px;
    height: 150px;
    margin-top:30px;
    margin-right:120px;
}
#img div{
    margin: 20px 0 0 45px;
    font-size: 26px;
}















































